
@{
    ViewData["Title"] = "Create Test";
}
@model Check_n_Cheer.DTO.CreateTestDTO

<form method="post" enctype="multipart/form-data" asp-controller="Test" asp-action="CreateTest">
    <div class="questions">
        <div>
            <label asp-for="Name"></label><br />
            <input type="text" asp-for="Name" />
        </div>
        <div>
            <label asp-for="TaskCount"></label><br />
            <input type="number" asp-for="TaskCount" />
        </div>
        <div>
            <label asp-for="TeacherName"></label><br />
            <input type="text" asp-for="TeacherName" />
        </div>
        <button class="btn button_color">Create Tasks</button>
    </div>
</form>
