@model Check_n_Cheer.Models.User;

@{
    ViewData["Title"] = "Sign In";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p> Please fill in this form to log in. </p>
    <hr>
    <form asp-action="SignIn" method="post">
        <label asp-for="Email"><b>Email</b></label>
        <input type="email" class="input" placeholder="Enter Email" asp-for="Email" required>

        <label asp-for="Password"><b>Password</b></label>
        <input type="password" class="input" placeholder="Enter Password" asp-for="Password" required>

        <hr>
        <button type="submit" class="registerbtn"> Sign in </button>
    </form>
</div>