@model Check_n_Cheer.DTO.CreateTestDTO
@{
    ViewData["Title"] = "Create Test";
}

<form method="post" enctype="multipart/form-data" asp-controller="Test" asp-action="CreateTest">
    <div class="questions">
        <div>
            <label asp-for="Name" id="label"></label><br />
            <input type="text" asp-for="Name" required />
        </div>
        <div>
            <label asp-for="TaskCount" id="label"></label><br />
            <input type="number" asp-for="TaskCount" value="0" step="1" min="1" max="100"/>
        </div>
        <input type="text" asp-for="TeacherId" hidden value="@ViewData["Id"]"/>
        <button class="btn button_color">Create Tasks</button>
    </div>
</form>
