@model IEnumerable<Check_n_Cheer.Models.Option>

@{
    ViewData["Title"] = "Manage Options";
}

<h1>Manage Options</h1>

<table class="table">
    <thead>
        <tr>

            <th>Name</th>

            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    <form action="/Option/ChangeOption/@item.Id" method="post">
                        <input type="text" name="optionName" value="@item.Name" required />
                        <label for="IsCorrect">Is correct:</label>
                        @if (item.IsCorrect)
                        {
                            <input type="checkbox" name="optionIsCorrect" id="IsCorrect" value="correct" checked />
                        }
                        @if (!item.IsCorrect)
                        {
                            <input type="checkbox" name="optionIsCorrect" id="IsCorrect" value="correct" />
                        }

                        <button type="submit" class="btn btn-warning">Save option</button>
                    </form>
                </td>
                <td>
                    <form action="/Option/DeleteOption/@item.Id" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>

                </td>
            </tr>

        }
        <tr>
            <td>
                <form action="/Option/CreateOption/@ViewData["TaskId"]" method="post">
                    <input type="text" name="optionName" value="" required />

                    <label for="IsCorrect">Is correct:</label>
                    <input type="checkbox" name="optionIsCorrect" id="IsCorrect" value="correct" />


                    <button type="submit" class="btn btn-success">Add option</button>
                </form>
            </td>
            <td>
                New option
            </td>
        </tr>


    </tbody>

</table>




<a href="/Test/ManageTasks?testId=@ViewData["TestId"]"  class="btn btn-success">Save all options</a>
    
